/**************************** ROOT START ****************************/
:root{
  font-size: 22px;

  --document-Height: 100dvh;

  --padding: 5px;
  --margin: 5px;
  --gap: 20px;
  --radius: 5px;
  --blur: 10px;
  --transition-velocity: 200ms;


  --color-main-hue: 230deg;
  --color-main-saturation: 13%;
  --color-main-lightness: 9%;

  --color-main: hsla(var(--color-main-hue), var(--color-main-saturation), var(--color-main-lightness), 1);
  --color-brand: var(--color-main);

  --color-success: hsla(120, 100%, 25%, 1);
  --color-info: hsla(211.059, 100%, 50%, 1);
  --color-warning: hsla(46.286, 100%, 48%, 1);
  --color-error: hsla(357.303, 82%, 57%, 1);
}
/**************************** ROOT END ****************************/

/**************************** Defaults START ****************************/
/* Removing unnecessary spaces from all elements */
:root, html, body, *, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  /* user-select: none; /* Disable copy */
  /* pointer-events: none; */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Mobile link click effect disabling */
  /* -webkit-tap-highlight-color: transparent; */
}

/* Add disabled effect to file selector button when disabled */
*{
  &[disabled], [disabled]::file-selector-button, [type=submit]:disabled{
    cursor: not-allowed;
    opacity: 0.5;
  }
}

/* Better <hr> UI */
hr{
  border:none;
  border-top:1px solid var(--color-text-secondary);
}

/* <a> basic active & hover effects */
a{
  cursor: pointer;
  color: var(--color-text-secondary);

  &:where(:active, :focus, :hover){
    color: var(--color-text-primary);
  }

}

/* Fix li elemet going out from parent element */
li{
  margin-left: 20px;
}

/*** Removing default scrollbars START ***/
*{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera */
*::-webkit-scrollbar{
  display: none;
}
/*** Removing default scrollbars END ***/
/**************************** Defaults END ****************************/
